.btn-login {
  background: #1a73e8;
}
.btn-login:hover {
  background: #2b7de9;
  box-shadow: 0 1px 2px 0 rgb(66 133 244 / 30%),
    0 1px 3px 1px rgb(66 133 244 / 15%);
}
.btn-login:active {
  background: #63a0ef;
  box-shadow: 0 1px 2px 0 rgb(66 133 244 / 30%),
    0 1px 3px 1px rgb(66 133 244 / 15%);
}
.header__all {
  text-underline-position: under;
}